.filterBlock{
    display: flex;
    flex-direction: row;
    width: max-content;
    border-radius: 15px;
    padding: 3px;
    background-color: white;
}

.filterItem {
    display: flex;
    width: max-content;
    padding: 5px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

.filterItemActive {
    display: flex;
    width: max-content;
    padding: 5px;
    border-radius: 15px;
    color: black;
    background-color: lightgrey;
    cursor: pointer;
}


